<div id="<%= dom_id sale %>">
  <p>
    <strong>Date:</strong>
    <%= sale.date %>
  </p>

  <p>
    <strong>Customer code:</strong>
    <%= sale.customer_code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= sale.name %>
  </p>

  <p>
    <strong>Descr:</strong>
    <%= sale.descr %>
  </p>

  <p>
    <strong>Doc type:</strong>
    <%= sale.doc_type %>
  </p>

  <p>
    <strong>Quant:</strong>
    <%= sale.quant %>
  </p>

  <p>
    <strong>Ppy:</strong>
    <%= sale.ppy %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= sale.value %>
  </p>

  <p>
    <strong>City:</strong>
    <%= sale.city %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= sale.zip %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= sale.tel %>
  </p>

  <p>
    <strong>Afm:</strong>
    <%= sale.afm %>
  </p>

</div>
